<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-gray-100 font-sans antialiased">
    <!-- Nav bar -->
    <nav class="bg-gray-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">Communication_LTD</h1>
        </div>
        <div>
            <a href="login" class="text-white hover:underline mx-4">Login</a>
            <a href="register" class="text-white hover:underline mx-4">Register</a>
        </div>
    </nav>
    <br>
    <br>
    <!-- Main -->
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">

            <!-- form -->
            <form class="space-y-4" id="resetPasswordForm" action="/resetPassword" method="POST">
                <input type="hidden" name="token" value="<%= token %>">
                <h2 class="text-xl font-semibold">Reset Password</h2>
                <div>
                    <label for="newPassword" class="block mb-1 font-medium">New Password</label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password..." class="w-full p-2 border rounded">
                </div>
                <div>
                    <label for="repeatPassword" class="block mb-1 font-medium">Repeat New Password</label>
                    <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat your new password..." class="w-full p-2 border rounded">
                </div>
                <button type="submit" class="w-full bg-gray-500 text-white p-2 rounded hover:bg-gray-600">Reset Password</button>
            </form>
            
        </div>  
    </div>
    <script>
       
        document.addEventListener('DOMContentLoaded', () => {
                const resetPasswordForm = document.getElementById('resetPasswordForm');
                
                
                resetPasswordForm.addEventListener('submit', async (event) => {
                    event.preventDefault(); 
    
                    const formData = new URLSearchParams(new FormData(resetPasswordForm));
                    
    
                    try {
                        const response = await fetch('/resetPassword', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            body: formData
                        });
                
                        if (response.ok) {
                            alert('Password has been reset successfully');
                            
                            
                        } else {
                            const errorMessage = await response.text();
                            alert(errorMessage);
                        }
                    } catch (error) {
                        console.error('Error resetting password', error);
                         alert('Error login in');
                        
                    }
                });
            });
        
    </script>
</body>
</html>
